<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/success.css" />

</head>
<body>
    <main>
        <form action="/submit" method="POST">
            <label for="name" >Email</label>
            <input type="email" name="customer">
            <label for="comment">Comment</label>
            <input type="text" name="comments" id="">
            <input type="submit" value="Submit" class="btn" />

        </form>
    </main>
    
</body>
</html>